@page "/Events/Create"
@using System.Text.Json.Nodes

<div class="row mb-4">
    <div>
        <h1 class="mb-3">Novo Evento</h1>

        <div class="row mb-2">
            <label class="col-md-3 col-form-label">Título</label>
            <div class="col-md-9">
                <input class="form-control form-control-sm" @bind="EventDtoData.Title" />
                <span class="text-danger">@Erros["Title"]?[0]</span>
            </div>
        </div>

        <div class="row mb-2">
            <label class="col-md-3 col-form-label">Data Início</label>
            <div class="col-md-9">
                <input type="datetime-local" class="form-control form-control-sm" @bind="EventDtoData.StartDate" />
                <span class="text-danger">@Erros["StartDate"]?[0]</span>
            </div>
        </div>

        <div class="row mb-2">
            <label class="col-md-3 col-form-label">Data Fim</label>
            <div class="col-md-9">
                <input type="datetime-local" class="form-control form-control-sm" @bind="EventDtoData.EndDate" />
                <span class="text-danger">@Erros["EndDate"]?[0]</span>
            </div>
        </div>

        <div class="row mb-2">
            <label class="col-md-3 col-form-label">Descrição</label>
            <div class="col-md-9">
                <textarea class="form-control form-control-sm" @bind="EventDtoData.Description"></textarea>
                <span class="text-danger">@Erros["Description"]?[0]</span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-9 offset-md-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" @bind="EventDtoData.AllDay" />
                    <label class="form-check-label">Dia Todo</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="offset-md-3 col-md-3 d-grid">
                <button class="btn btn-primary" @onclick="SaveEvent">Salvar</button>
            </div>
            <div class="col-md-3 d-grid">
                <a class="btn btn-outline-primary" href="/Events">Cancelar</a>
            </div>
        </div>
    </div>
</div>

@inject HttpClient http
@inject NavigationManager navigationManager

@code {
    public EventDTO EventDtoData { get; set; } = new();
    public JsonNode Erros { get; set; } = new JsonObject();

    private async Task SaveEvent()
    {
        var response = await http.PostAsJsonAsync("/api/Events", EventDtoData);
        if (response.IsSuccessStatusCode)
        {
            navigationManager.NavigateTo("/Events");
        }
        else
        {
            var stringResponse = await response.Content.ReadAsStringAsync();
            try
            {
                var jsonResponse = JsonNode.Parse(stringResponse);
                Erros = jsonResponse?["errors"] ?? new JsonObject();
            }
            catch
            {
                // Log ou tratar erro de parsing se necessário
            }
        }
    }
}
