<div class="mb-5" id="eventAgendaId">
	<div class="modal fade" id="eventModal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="eventModalTitle"></h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<input type="hidden" id="eventModal_event_id">
					<input type="hidden" id="eventModal_event_allday">
					<div class="row g-3">
						<div class="col-12">
							<label class="form-label">Título</label>
							<input class="form-control" id="eventModal_event_title"
						   required>
						</div>
						<div class="col-md-6">
							<label class="form-label">Data Início</label>
							<input type="datetime-local" class="form-control"
							   id="eventModal_event_start_date" required>
						</div>
						<div class="col-md-6">
							<label class="form-label">Data Fim</label>
							<input type="datetime-local" class="form-control"
							   id="eventModal_event_end_date">
						</div>
						<div class="col-12">
							<label class="form-label">Descrição</label>
							<textarea class="form-control"
							   id="eventModal_event_description" rows="3"></textarea>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger me-auto"
							id="btnDeleteEvent">
						Remover
					</button>
					<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">
						Cancelar
					</button>
					<button type="button" class="btn btn-primary"
							id="btnSaveEvent">
						Salvar Alterações
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

@inject IJSRuntime JSRuntime
@code {
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await JSRuntime.InvokeVoidAsync("loadAgenda","https://localhost:7090/api/Events");
		}
	}
}
